@import url(https://fonts.googleapis.com/css?family=Quicksand);
.lost, .won{
    z-index:1000;
    display: none;
    position:absolute;
    text-align:center;
    width:100%;
    height:510px;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.8);
    z-index:100;
}

.lost div, .won div{
    font-family: Quicksand, yanone_thin, Arial;
    font-size: 2em;
    display:table-cell;
    vertical-align: middle;
    color:white;
}

.test {
    cursor: pointer;
}
.gamecontainer {
    overflow: hidden;
    font-family: "Quicksand";
    background-color: white;
}
.game {
    display:table;
    width:100%;
    position: relative; /* mandatory for jsPlumb */
}
.epiktitle h2 {
    margin:0px;
    padding:0px;
    color: white;
    font-weight:700;
}
.epiktitle {
    position:relative;
    text-align:center;
    padding:0px;
    background-color: #ecc134;
    color: white;
    z-index:1000;
    padding:20px;
}
.left {
    display:table-cell;
    width:50%;
    vertical-align: top;
}
.right {
    display:table-cell;
    width:50%;
    vertical-align: top;
}
.game ul {
    margin:20px;
    padding:0px;
}
.game li {
    list-style: none;
}
.game .pays:hover {
    background-color: #ecc134;
}
.game .pays {
    margin:20px auto;
    border: 0px;
    border-radius: 0px;
    padding:20px;
    text-align:center;
    background-color: #d88239;
    width:50%;
    color: white;
}

.game .pays h3, .game .pays h4, .game .pays h5 {
  color: white;
}

.game .capitale h3, .game .capitale h4, .game .capitale h5 {
  color: white;
}

.game .capitale:hover {
    background-color: #6ac36f;
}
.game .capitale {
    margin:20px auto;
    border: 0px;
    border-radius: 0px;
    padding:20px;
    text-align:center;
    background-color: #5ba75f;
    width:50%;
    color: white;
}
.game .success {
    background-image: url(/mod/epikmatching/pix/tick.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px 30px;
}
.game .fail {
    background-image: url(/mod/epikmatching/pix/cross.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px 30px;
}

.game .mediaplugin, .mediaplugin video{
    width: initial;
}

.verify {
    text-align:center;
    padding:5px;
    color: white;
}
.epikbtn{
    font-family: "Quicksand";
    border-radius:0px;
    border-color:0px;
    padding:20px;
    border: 0px solid;
    cursor: pointer;
    background-color: #4d9bd9;
    width:30%;
    color: white;
    font-weight:700;
    font-size:1.5vw;
    /*text-shadow: 4px 4px 8px #2d5e84;*/
    margin:0;
}
.epikbtn:hover {
    background-color: #4c9ad8;
    border-color:0px;
    border:0px;
    color: #dddddd;
    margin:0;
}
.endpoint {
 border:0px solid white;
 border-radius:20px;

}
.corner {
    position:absolute;
    background-color: #ecc134;
    bottom:-10px;
    left:50px;
    transform: rotate(45deg);
    width:20px;
    height:20px;

}
